# Dependencies
node_modules/

# Build output
/dist/

# Environment & local data
.env
.env.*
/data/raw/*
/data/p4k/*
/data/normalized/*
!/data/.gitkeep
!/data/p4k/.gitkeep
!/data/raw/.gitkeep
!/data/normalized/.gitkeep

/bins/unp4k/*
/bins/scdatadumper/*
!/bins/.gitkeep
!/bins/unp4k/.gitkeep
!/bins/scdatadumper/.gitkeep

# Logs & misc
*.log
